<header>
  <h1>{{titulo}}</h1>

  <nav>
    <a routerLink="/registro" routerLinkActivate = "active-tab">
      Registro Usuario
    </a>
    <a routerLink="/buscador" routerLinkActivate = "active-tab">
      Buscador Pokemon
    </a><br>
    <a routerLink="/Petilil" routerLinkActivate = "active-tab">
      Petilil
    </a><br>
    <a routerLink="/Greavard" routerLinkActivate = "active-tab">
      Greavard
    </a><br>
    <a routerLink="/Rowlet" routerLinkActivate = "active-tab">
      Rowlet
    </a><br>
    <a routerLink="/Sylveon" routerLinkActivate = "active-tab">
      Sylveon
    </a><br>
    <a routerLink="/Litleo" routerLinkActivate = "active-tab">
      Litleo
    </a><br>
    <a routerLink="/Chandelure" routerLinkActivate = "active-tab">
      Chandelure
    </a><br>
    <a routerLink="PokemonLista" routerLinkActivate = "active-tab">
      Detalle pokemon
    </a>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</header>